services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/arm64
    container_name: music-streamer-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:./prisma/dev.db
      - NEXT_TELEMETRY_DISABLED=1
    env_file:
      - .env
    volumes:
      # Persist database
      - ./prisma/dev.db:/app/prisma/dev.db
      - ./prisma/dev.db-journal:/app/prisma/dev.db-journal
      # Persist Prisma migrations
      - ./prisma/migrations:/app/prisma/migrations
